.widget-server{
	color:white;
}

.center {
	text-align: center;
}

.right{
	text-align: right;
}

.small-adjust {
	height:150px;
}

.title {
	margin-top: 2px;
	margin-bottom: 2px;
}

.content {
	margin-top: 2px;
	margin-bottom: 2px;
}