.small-adjust {
	height:150px;
}

.widget-weather{
	// background: #00BCD4;
	color:white;
}

.title {
	font-size: 2em;
	margin-top: 2px;
	margin-bottom: 2px;
}

.content {
	margin-top: 2px;
	margin-bottom: 2px;
}

.right {
	text-align: right;
}