.widget-success{
  background:#689F38;
  color:white;
}

.widget-danger {
  background: #F44336;
  color:white;
}

.widget-warning {
  background: #FF9100;
  color:white;
}

.center {
  text-align: center;
}