.widget-success{
  background:#00897B;
  color:white;
}

.widget-danger {
  background: #D32F2F;
  color:white;
}

.widget-warning {
  background: #FF9100;
  color:white;
}

.center {
  text-align: center;
}