<div class='row'>
	<div class='col-md-4'>
    <div class='row'>
  		<div class='widget widget-clock'>
  			<div *ngIf='currentDate' class='widget-body small'>
  				 <div class="clock-wrapper">
              <div class="clock-content">
                  <h1 id="date" class="date">{{currentDate}}</h1>
                  <h3 id="time" class="time">{{currentTime}}</h3>
              </div>
          </div>
  			</div>
  		</div>
    </div>
    <div class='row'>
      <div>
        <weather-widget></weather-widget>
      </div>
    </div>
	</div>
	<div class='col-md-4'>
		<div class='widget'>
      <div class='widget-header'>
        Server Room Temp
      </div>
			<div class='widget-body medium-adjust'>
			</div>
		</div>
	</div>
	<div class='col-md-4'>
		<div class='widget'>
      <div class='widget-header'>
        Service Desk Tickets (mocked data)
      </div>
			<div class='widget-body medium-adjust'>
				<base-chart class="chart"
                [data]="doughnutChartData"
                [labels]="doughnutChartLabels"
                [chartType]="doughnutChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></base-chart>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class='col-md-8'>
		<div class='widget'>
      <div class='widget-header'>
        www.phiresearchlab.org Metrics (mocked data)
      </div>
			<div class='widget-body medium-adjust'>
				 <base-chart class='chart' 
                [data]='lineChartData'
                [labels]='lineChartLabels'
                [options]="lineChartOptions"
                [colours]="lineChartColours"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></base-chart>
			</div>
		</div>
	</div>
	<div class='col-md-4'>
    <lab-reservations></lab-reservations>
	</div>
</div>

<div class='row'>
	<div class='col-md-12'>
		<site-monitor></site-monitor>
	</div>
</div>