<!-- TIME, WEATHER, SERVER TEMP -->
<div class='row'>
	<div class='col-md-4'>

  		<div class='widget widget-clock small-adjust'>
  			<div *ngIf='currentDate' class='widget-body small'>
  				 <div class="clock-wrapper">
              <div class="clock-content">
                  <h1 id="date" class="date">{{currentDate}}</h1>
                  <h3 id="time" class="time">{{currentTime}}</h3>
              </div>
          </div>
  			</div>
  		</div>
  </div>
  <div class='col-md-4'>   
    <div>
      <weather-widget></weather-widget>
    </div>
  </div>
    <div class='col-md-4'>
      <div>
        <server-sensor></server-sensor>
      </div>
    </div>
</div>
<!-- TIME, WEATHER, SERVER TEMP END -->

<div class='row'>
  <div class='col-md-8'>
    <div class='row'>
      <div>
        <site-monitor></site-monitor>
      </div>
    </div>
    <div class='row'>
      
    </div>
  </div>
  <div class='col-md-4'>
    <div class='row'>
      <div>
        <issue-metrics></issue-metrics>
      </div>
    </div>
    <div class='row'>
       <div>
        <lab-reservations></lab-reservations>
      </div>  
    </div>
    <div class='row'>
      <div>
        <unresolved-issues></unresolved-issues>
      </div>
    </div>
  </div>
</div>



